<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSF2Y9W2IB3Q95HkM4YDViBZmJD5kg6lk</string>
	<key>GCM_SENDER_ID</key>
	<string>301750432881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ai-shopping-appginiusx</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-shopping-appginiusx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301750432881:ios:af881a2bbd6252cd9897d0</string>
</dict>
</plist>